<html>

 <head>
    <title>OpenLayers</title>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css">
    <script src="https://cdn.rawgit.com/kikocorreoso/map2wiki/master/src/static/brython_dist.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="shortcut icon" href="">
    <style>
        .bs-canvas-overlay {
            opacity: 0;
            z-index: -1;
        }

        .bs-canvas-overlay.show {
            opacity: 0.85;
            z-index: 1100;
        }

        .bs-canvas {
            top: 0;
            width: 0;
            z-index: 1110;
            overflow-x: hidden;
            overflow-y: auto;
        }

        .bs-canvas-left {
            left: 0;
        }

        .bs-canvas-right {
            right: 0;
        }

        .bs-canvas-anim {
            transition: all .4s ease-out;
            -webkit-transition: all .4s ease-out;
            -moz-transition: all .4s ease-out;
            -ms-transition: all .4s ease-out;
        }
        .pin{
            height:30;
            width:30;
        }

        .landmark {
          height:40;
          width:40;
        }

      .content {
        margin-top : 0px;
      }

      .landmark_pin {
        height:40;
          width:40;
      }


      
    </style>

</head>

 <body> 
  <nav class="navbar sticky-top navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand">LANDMARK EXPLORER</a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="username" placeholder="Username" aria-label="Username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
      <button class="btn btn-primary border my-2 my-sm-2" type="submit">Login</button>
      <button class="btn btn-primary border my-2 my-sm-2" type="submit">Sign Up</button>

    </form>
  </nav>


<div class = "content">
  <div id="mapdiv" class = "mapdiv"></div>
    <div style = "position: absolute; top: 80px; left: 50px; padding: 5px;">
            <button class = "btn btn-primary"><i class="material-icons " id = "nearby-btn">near_me</i></button>
            <button class = " btn btn-primary"><i class="material-icons " id = "current_loc">my_location</i></button>
    </div>
    <div id="search"  style="position: absolute; top: 80px; right: 10px; padding: 5px">

        <form>
            <div class = "input-group">
                    <input type="text" id = "search-landmark" class="form-control form-control form-control-md" placeholder="Enter a Landmark">
                    <span class="input-group-btn">
                          <button id = "search_btn" class="btn btn-primary border border-light" type="button"><i class ="material-icons">search</i></button></a>
                    </span>
                    <!-- Pushable content along with off-canvas opener. -->
                    <div class="bs-offset-main bs-canvas-anim">
                        <button id = "toggle-btn" class="btn btn-primary border border-light"  type="button" data-toggle="canvas" data-target="#bs-canvas-right" aria-expanded="false" aria-controls="bs-canvas-right">&#9776;</button>
                    </div>
            </div>
        </form>
    </div>

    <!-- Overlay, must be placed direct after the opening body tag. -->
    <div class="bs-canvas-overlay bs-canvas-anim position-fixed w-100 h-100"></div>

    <!-- Non-pushable content. -->
    <nav class="navbar">
    </nav>

    <!-- Off-canvas sidebar markup, left/right or both. -->

    <div id="bs-canvas-right" class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed bg-light h-100">
        <header class="bs-canvas-header p-3 bg-primary overflow-auto">
            <button type="button" class="bs-canvas-close float-left close" aria-label="Close"><span aria-hidden="true" class="text-light">&times;</span></button>
            <h4 class="d-inline-block text-light mb-0 float-right">Places</h4>
                        


        </header>
        <div class="bs-canvas-content px-3 py-5" >
            <table class = "table table-hover" >
              <tbody id = "places_tb"></tbody>
            </table> 
        </div>
    </div>

</div>


    

    <script src = "/static/index.js"></script>

    <script>

      if (localStorage.length != 0) {
        localStorage.removeItem("cur_lon");
        localStorage.removeItem("cur_lat");

      }

      var landmarks = [];

var view = new ol.View({
    center: [16832505.12095191,-4011613.961964385],
     zoom: 12
});
        var map = new ol.Map({
   target: 'mapdiv',
   layers: [
     new ol.layer.Tile({
       source: new ol.source.OSM()
     })
   ],
   view: view,
   layers: [
     new ol.layer.Tile({
         source : new ol.source.Stamen({
            layer: 'terrain'
         })
     })
   ]
 });


 var geolocation = new ol.Geolocation({
    // enableHighAccuracy must be set to true to have the heading value.
    trackingOptions: {
      enableHighAccuracy: true
    },
    projection: view.getProjection()
  });

  document.getElementById('current_loc').addEventListener('click', function() {
    var elements = document.getElementsByClassName("landmark");
    while(elements.length > 0){
      elements[0].parentNode.removeChild(elements[0]);
    }
    var elements = document.getElementsByClassName("pin");
    while(elements.length > 0){
      elements[0].parentNode.removeChild(elements[0]);
    }
    geolocation.setTracking(true);
    var coordinates = geolocation.getPosition();
    var coords = ol.proj.transform(coordinates, 'EPSG:3857', 'EPSG:4326');
    var cur_lat = coords[1];
    var cur_lon = coords[0];
    localStorage.setItem('cur_lon', cur_lon.toString());
    localStorage.setItem('cur_lat', cur_lat.toString()); 
    map.getView().setCenter(coordinates);
   map.getView().setZoom(14);
    
  });   



var accuracyFeature = new ol.Feature();
geolocation.on('change:accuracyGeometry', function() {
  accuracyFeature.setGeometry(geolocation.getAccuracyGeometry());
});

var positionFeature = new ol.Feature();
positionFeature.setStyle(new ol.style.Style({
  image: new ol.style.Circle({
    radius: 10,
    fill: new ol.style.Fill({
      color: '#3399CC'
    }),
    stroke: new ol.style.Stroke({
      color: '#fff',
      width: 2
    })
  })
}));

geolocation.on('change:position', function() {
  var coordinates = geolocation.getPosition();
  var coords = ol.proj.transform(coordinates, 'EPSG:3857', 'EPSG:4326');
  map.getView().setCenter(coordinates);
  map.getView().setZoom(14);
  var cur_lat = coords[1];
  var cur_lon = coords[0];
  localStorage.setItem('cur_lon', cur_lon.toString());
  localStorage.setItem('cur_lat', cur_lat.toString()); 
  positionFeature.setGeometry(coordinates ?       
  new ol.geom.Point(coordinates) : null);
});

new ol.layer.Vector({
  map: map,
  source: new ol.source.Vector({
    features: [ positionFeature]
  })
});

document.getElementById("nearby-btn").onclick = function() {

  var elements = document.getElementsByClassName("landmark");
  while(elements.length > 0){
      elements[0].parentNode.removeChild(elements[0]);
  }

    console.log(localStorage.getItem('cur_lon'))
    console.log(localStorage.getItem('cur_lat'))

    var fetch_url = 'https://reverse.geocoder.ls.hereapi.com/6.2/reversegeocode.json?apiKey=4ZRwHTCnCEe1HV3smhin6xJBjTP9r8zwWyZz-8rM3a4&mode=retrieveLandmarks&prox=' + localStorage.getItem('cur_lat') + ',' + localStorage.getItem('cur_lon') + ',100000';
    fetch(fetch_url, fetchData)


    .then(response => response.json())
    .then(data => {

        console.log(data)
        for (var result of data.Response.View[0].Result) {
                    var element = document.createElement('div');
                    element.classList.add("landmark");
                    var content = document.createElement("a");
                    content.id = result.Location.Name;
                    content.classList.add("lm");
                    content.setAttribute("tabindex" ,"0");
                    content.setAttribute("data-toggle" ,"popover");
                    content.setAttribute("role" ,"button");
                    content.setAttribute("data-content", result.Location.Address.Label);
                    content.setAttribute("title", result.Location.Name);
                    content.innerHTML = '<img class="landmark_pin" src="/static/landmark.png"/>';
                    element.appendChild(content);
                    var marker = new ol.Overlay({
                        position: ol.proj.transform([result.Location.DisplayPosition.Longitude, result.Location.DisplayPosition.Latitude], 'EPSG:4326','EPSG:3857'),
                        positioning: 'center-center',
                        element:element

                    });

                    map.addOverlay(marker);
                    console.log(result.Location.Name)
        }
        $(function () {
         
          $(".lm").popover({trigger: 'hover | focus', html: true});
        });
    })
}
var tb = document.getElementById('places_tb');

document.getElementById("toggle-btn").onclick = function() {
    var elements = document.getElementsByClassName("places_row");
    while (elements.length > 0) {
      elements[0].parentNode.removeChild(elements[0]);
    }
    var fetch_url = 'https://reverse.geocoder.ls.hereapi.com/6.2/reversegeocode.json?apiKey=4ZRwHTCnCEe1HV3smhin6xJBjTP9r8zwWyZz-8rM3a4&mode=retrieveLandmarks&prox=' + localStorage.getItem('cur_lat') + ',' + localStorage.getItem('cur_lon') + ',100000';
    fetch(fetch_url, fetchData)


    .then(response => response.json())
    .then(data => {

        for (var result of data.Response.View[0].Result) {
                    var tr = document.createElement('tr');
                    tr.classList.add("places_row");
                    var td = document.createElement('td');
                    td.innerHTML = result.Location.Name;
                    td.addEventListener("click", function(){
                        window.location.href = "/landmark/" + result.Location.Name
                        console.log(result.Location.Name)
                    });
                    tr.appendChild(td);
                    tb.appendChild(tr);
        }
    })
}

function getLocation() {
    navigator.geolocation.getCurrentPosition(showPosition);
}

function showPosition(position) {
  console.log(position.coords.latitude + " ," +  position.coords.longitude);
}

document.getElementById("search_btn").onclick = function() {

  var elements = document.getElementsByClassName("pin");
  while(elements.length > 0){
      elements[0].parentNode.removeChild(elements[0]);
  }
  elements = document.getElementsByClassName("landmark");
  while(elements.length > 0){
      elements[0].parentNode.removeChild(elements[0]);
  }

  
  var search_landmark = document.getElementById("search-landmark").value;
  var fetch_url = 'https://geocoder.ls.hereapi.com/6.2/geocode.json?searchtext=' + search_landmark + '&gen=9&apiKey=PaSJdAi4_bn3hAFxrLoc_eVxEr74-hDTjGXhRICkhYs';
  console.log(fetch_url)
  fetch(fetch_url, fetchData)
  .then(response => response.json())
  .then(data => {
    var result = data.Response.View[0].Result[0].Location.DisplayPosition;
    var element = document.createElement('div');
    element.classList.add("pin");

   
    element.innerHTML = '<a id ="landmark_pop" tabindex="0" data-toggle="popover" role = "button" > <img class = "pin" src="https://img.icons8.com/color/96/000000/marker.png"/></a>';
    var marker = new ol.Overlay({
        position: ol.proj.transform([result.Longitude, result.Latitude], 'EPSG:4326','EPSG:3857'),
        positioning: 'center-center',
        element:element

    });
    $(function () {
      $('#landmark_pop').popover({title: document.getElementById("search-landmark").value,  trigger: 'hover | focus', html: true, content : data.Response.View[0].Result[0].Location.Address.Label});
    })
    map.addOverlay(marker);
    map.getView().setCenter(ol.proj.transform([result.Longitude, result.Latitude], 'EPSG:4326','EPSG:3857'));
    map.getView().setZoom(14);
    localStorage.setItem('cur_lon', data.Response.View[0].Result[0].Location.DisplayPosition.Longitude.toString());
    localStorage.setItem('cur_lat', data.Response.View[0].Result[0].Location.DisplayPosition.Latitude.toString());
    console.log(data.Response.View[0].Result[0].Location.DisplayPosition)
  })
}



    </script>
</body>

</html>
