<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>Landmark</title>

    <style>
        .bg  {
            background-image:url('/static/bg.png');
            background-repeat:no-repeat;
            background-size:cover;
            opacity: 0.4;
            height: 100%;
            width: 100%;
            position : relative;
            top: 20;


        }

        .main{
            position: relative;

        }

        .content{
            position: absolute;
            top:0;
            height:100%;
            width:100%;
        }
    </style>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">LANDMARK EXPLORER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('index')}}">Home</a>
                    </li>

                  </ul>
                </div>
         </nav>

        <div class="main">
            <div class = "bg">

            </div>
            <div class = "content">
                <div class="d-flex justify-content-center p-5 ">
                        <h1 id= "lm_name" class="float-center">{{ name }}</h1>
                </div>


                <div class="container p-5">
                    <div class = "row" >
                        <div class = "col">
                            <img id = "lm_img" class = "img-fluid">
                        </div>
                        <div class = "col border border-primary bg-white text-dark">
                                <div class="d-flex justify-content-left p-2">
                                        <h4 >Events</h4>

                                </div>
                                <ul class = "list-group">
                                    <li class = "list-group-item">
                                        Vivid Sydney - Light, Music and Ideas
                                    </li>
                                    <li class = "list-group-item">
                                            Sunset Sessions: Live Music at Cockatoo Island
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div class = "row p-2">
                        <div class = "col border border-primary bg-white text-dark ">
                                <div class="d-flex justify-content-left p-2">
                                        <h4 >About</h4>
                                </div>
                                <div class="container-fluid">
                                    <p id = "about_element">

                                    </p>
                                </div>
                        </div>
                    </div>
                    <div class = "row p-2">
                            <div class = "col border border-primary bg-white text-dark ">
                                    <div class="d-flex justify-content-left p-2">
                                            <h4 >News</h4>
                                    </div>
                                    <div class="container-fluid">
                                        <ul class="list-group" id="news_list"></ul>
                                        <br>
                                    </div>
                            </div>
                        </div>

                </div>

            </div>
        </div>

<script>
    // About
    var about = document.getElementById("about_element");
    var fetch_url = "https://en.wikipedia.org/api/rest_v1/page/summary/" + document.getElementById("lm_name").innerHTML;

    var fetchData;
    fetch(fetch_url, fetchData)
    .then(response => response.json())
    .then(data => {
        about.innerText = data.extract;
    })

    // Image
    var image = document.getElementById("lm_img");
    console.log(document.getElementById("lm_name").innerHTML)
    fetch_url = "https://en.wikipedia.org/api/rest_v1/page/media-list/" + document.getElementById("lm_name").innerHTML;
    console.log(fetch_url)
    fetch(fetch_url, fetchData)
    .then(response => response.json())
    .then(data => {
        console.log(data)
        image.setAttribute("src", data.items[0].srcset[0].src);
    })

    var lm_name = document.getElementById("lm_name").innerHTML;
    apiKey = "e8bf85737a554b158b25de6857b8de10"
    newsAPIurl = "https://newsapi.org/v2/everything?qintitle=" + lm_name + "&apiKey=" + apiKey
    fetch(newsAPIurl, fetchData)
    .then(response => response.json())
    .then(data => {
        console.log("newapi")
        console.log(data)
        newsUl = document.getElementById('news_list')
        if (data.totalResults == 0) {
            const newsLi = document.createElement("li");
            newsLi.className = "list-group-item";
            newsLi.innerText = "No news about this landmark"
            newsUl.appendChild(newsLi)
        } else {
            // For each article 
            for (i = 0; i < data.totalResults && i < 5; i++) {
                article = data.articles[i]
                const articleLi = document.createElement("li");
                articleLi.className = "list-group-item";
                const a = document.createElement("a");
                a.href = article.url
                const title = document.createElement("h5");
                title.innerText = article.title 
                const description = document.createElement("p");
                description.innerText = article.description

                a.appendChild(title)
                articleLi.appendChild(a)
                articleLi.appendChild(description)
                newsUl.appendChild(articleLi)
                console.log(data.articles[i].title)
            }
        }
    })

</script>


</body>
</html>